html{
    font-family: "Rubik", sans-serif;
}
body{
    background-color: #d6d2d2;
}
main{
    margin-top: 100px;
}
@media(min-width:401px){
    .drone-container{
        width: 90%;
        height: 100%;
        display: flex;
        margin: auto;
        margin-top: 30px;
    }
    .drone-img{
        width: 40%;
        height: 40%;
        border: 5px solid black;
    }
    .description{
        width: 60%;
        height: 60%;
        font-size: 30px;
        margin-left: 30px;
    }
    .imgs{
        width: 100%;
        height: 100%;
    }
    .drone-name{
        font-size: 50px;
        /*font-family: 800;*/
        cursor: default;
    }
    .name-block{
        display: flex;
        justify-content: center;
    }
    .frequency-form{
        margin: auto;
        width: 40%;
        height: 10%;
        margin-top: 40px;
    }
    .frequency-btn{
        width: 100%;
        height: 55px;
        background-color: orange;
        color: black;
        font-size: 35px;
        font-weight: 700;
        border-radius: 15px;
    }
    
    .download{
        margin: auto;
        width: 40%;
        height: 10%;
        margin-top: 20px;
    }
    .download-btn{
        width:100%;
        height: 55px;
        background-color: orange;
        color: black;
        font-size: 35px;
        font-weight: 700;
        border-radius: 15px;
        overflow: hidden;
    }
    .upload-div{
        width: 100%;
        margin-bottom: 5%;
    }
    #uploadForm{
        width: 80%;
        margin: auto;
    }
    .upload-input{
        width: 100%;
        background-color: orange;
        border-radius: 20px;
        font-size: 20px;
        height: 30px;
    }
    .upload-button{
        width: 60%;
        margin-left: 20%;
        margin-top: 30px;
        height: 40px;
        border-radius: 20px;
        background-color: orange;
        cursor: pointer;
        font-size: 20px;
    }

    input[type="file"]::file-selector-button {
        background: rgba(51, 84, 138, 0.5);
        color: white;
        border-radius: 20px;
        cursor: pointer;
        height: 30px;
    }
    input[type="file"]::file-selector-button:hover{
        color: orange;
    }
    .downloadSpec{
        margin: auto;
        width: 80%;
        height: 10%;
        margin-top: 20px;
    }
    .download-btnSpec{
        width:100%;
        height: 55px;
        background-color: orange;
        color: black;
        font-size: 35px;
        font-weight: 700;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
    }
    .download-delete{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .download-list,.delete-list{
        display: flex;
        flex-direction: column;
    }
    .download-list{
        width: 90%;
    }
    .delete-list{
        width: 10%;
    }
    .delete-btnSpec{
        width: 100%;
        height: 55px;
        margin-top: 21px;
        cursor: pointer;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .modal-buttons {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }
    .btn-confirm {
        background: green;
        color: white;
    }

    .btn-cancel {
        background: red;
        color: white;
    }
}


@media (max-width:400px){
    .drone-container{
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 30px;
    }
    .drone-img{
        width: 40%;
        height: 40%;
        border: 5px solid black;
        margin: auto;
    }
    .description{
        width: 90%;
        height: 60%;
        font-size: 15px;
        margin-left: 30px;
    }
    .imgs{
        width: 100%;
        height: 100%;
    }
    .drone-name{
        font-size: 50px;
        /*font-family: 800;*/
    }
    .name-block{
        display: flex;
        justify-content: center;
    }
    .frequency-form{
        margin: auto;
        width: 50%;
        height: 10%;
        margin-top: 40px;
    }
    .frequency-btn{
        width: 100%;
        height: 55px;
        background-color: orange;
        color: black;
        font-size: 20px;
        font-weight: 700;
        border-radius: 15px;
    }
    
}