<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DronKat</title>
<!--    <link rel="stylesheet" th:href="@{selected.css}">-->
<!--    <link rel="stylesheet" th:href="@{header.css}">-->
    <link rel="stylesheet" href="/selected.css">
    <link rel="stylesheet" href="/header.css">
    <!--    <link rel="stylesheet" href="../static/style.css">-->
</head>

<body>
<div th:replace="header :: header"></div>
    <main>
        <div class="drone-container" th:each="drone : ${drone}">
            <div class="drone-img">
                <img class="imgs" th:src="@{'/entity/' + ${drone.getId()} + '/image'}" alt="Image">
            </div>
            <div class="description">
                <div class="name-block">
                    <a class="drone-name" th:text="${drone.getName()}"></a>
                </div>
                <div>
                    <a>Максимальна дальність польту (км):</a>
                    <a th:text="${drone.getMaxFlightDistance()}"></a>
                </div>
                <div>
                    <a>Бойовий радіус (км):</a>
                    <a th:text="${drone.getCombatRadius}"></a>
                </div>
                <div>
                    <a>Максимальна швидкість (км/год):</a>
                    <a th:text="${drone.getMaxSpeed}"></a>
                </div>
                <div>
                    <a>Максимальна висота польоту (км):</a>
                    <a th:text="${drone.getMaxFlightAltitude}"></a>
                </div>
                <div>
                    <a>Тривалість польоту (год):</a>
                    <a th:text="${drone.getMaxFlightDuration}"></a>
                </div>
                <div>
                    <a>Маса корисного навантаження (км):</a>
                    <a th:text="${drone.getPayloadWeight}"></a>
                </div>
                <div>
                    <a>Маса бойовиої частини(кг):</a>
                    <a th:text="${drone.getWarheadWeight}"></a>
                </div>
                <div>
                    <a>Розмах крил (м):</a>
                    <a th:text="${drone.getWingspan}"></a>
                </div>
                <div>
                    <a>Довжина (м):</a>
                    <a th:text="${drone.getLength}"></a>
                </div>
                <div>
                    <a>Силова установка (тип двигуна):</a>
                    <a th:text="${drone.getEngineType}"></a>
                </div>
            </div>
        </div>
        <form action="/notReady" class="frequency-form" method="get">
            <button class="frequency-btn" type="submit">
                <a>Переглянути спектр частот</a>
            </button>
        </form>
        <div th:each="file : ${files}">
            <form  th:action="@{/api/files/download/{id}(id=${file.getId})}" class="download" method="get">
                <button class="download-btn" type="submit">
                    <a th:text="${file.getFileName()}"></a>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAg0lEQVR4nO2UOwqAMBBE3zWsLCxsLLSw8vYGPYSghYVgIR4hErAQ/58EQfNgIBCYIRN24U9kgBwlTATImWzAAmkr+l5F1Yrplso7ATHQnTDvgeTuKyKg3TFXdyEP8YF6xbwBAjThAsXEXP2Ph2YcIB+3qjpb9CMuDJY8kDAdkBoo4CUG+aZ0PJTVTQsAAAAASUVORK5CYII=" alt="download--v1">
                </button>
            </form>
        </div>
    </main>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    </style>

</html>